<div class="button_01">
  <a href="/memos/new" class="button_new">新規作成</a>
</div>
<div class="memo-list"> 
    <ul>
      <% @memos.each do |memo|%>
        <li><a href=<%=  "/memos/#{memo["id"]}" %>><%= "#{h memo["title"]}" %></a></li>
      <% end %> 
    </ul>
</div>
