<form action="/memos" method="post" class="form-example">
  <div class="form-example-title">
    <label for="title">タイトル: </label>
    <input type="text" name="title" id="title" required class="form-title">
  </div>
  <textarea name="description" rows="5" cols="40"></textarea>
    <div>
      <input type="submit" value="追加" class="form-example-submit">
    </div>
</form>

<p><a href="/memos">戻る</a></p>
