<h2><%=@memo["title"]%></h2>
<br>
<p><%=@memo["description"]%></p>
    <ul>                       
      <div class="form-buttons">
        <form action="/memos/<%= "#{h @memo["id"]}/edit" %>" method="get"> 
          <input type="submit" value="変更" class="form-modify">
        </form>
        <form action="/memos/<%= "#{h @memo["id"]}" %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="削除" class="form-delete">
        </form>
      </div>
      <p><a href="/memos">戻る</a></p>
    <ul>
